﻿#ticket-content > table {
    margin: 50px auto;
    text-align: center;
    width: 1100px;
    font-family: Tahoma;
    font-size: 16px;
    border-collapse: collapse;
    border: 1px solid rgba(212, 212, 212, 0.45);
}

#ticket-content th {
    border-bottom: 3px outset black;
    padding-bottom: 15px;
}

#ticket-content tr {
    border-bottom: 1px outset black;
    background: linear-gradient(to bottom, #ffffff, #ededed);
}

#ticket-content td {
    padding-bottom: 10px;
}


.selected-event{
    padding:20px;
    background:#e9e9e9;

    width:600px;
    margin:auto;
    border:1px solid rgba(0,0,0,1);
}

#ticket-content input[type=submit]{
    height:30px;
    border-radius:3px;
    border:1px solid rgb(94, 131, 138);
}
#ticket-content input[type=submit]:hover{
    background:#e9e9e9;
}
    #ticket-content input[type=submit]:active{
        background: rgb(94, 131, 138);
    }