

div.footer {
    background-color: #2F4F4F;
    height: 100px;
    color: white;
    font-family: "Tahoma";
    font-size: 20px;
    font-weight: bold;
}
div.footer-info{
    font-size:16px;
    padding:40px 0 100px 40%;

}