
div.header {
    background-color: #2F4F4F;
    font-family: "Tahoma";
    font-size: 36px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
}
div.header-flex-right {
    display: flex;
    justify-content: flex-end;
    align-items:baseline;
    font-size:20px;
}
div.header-flex-left {
    display:flex;
    justify-content: flex-start;
    
}

a.authenticate{
    display:block;
    text-decoration:none;
    color:white;
    padding:30px;
}
    a.authenticate:hover {
        color:#4f8e8e;
    }
    a.authenticate:active {
        color:white;
    }


div.banner{
    padding:20px;
}

.language-options{
    padding:20px;
}
.language-options  select{
    
    font-size:16px;
    font-family:Tahoma;
}