div.body-content {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    width:97%;
    margin:auto;
}

body {
    background-image: url("../../images/back-ground/background-image-1.jpg");
}
