div.menu {
    background: linear-gradient(to right,#143131,#1e4949);
    height: 100px;
    display: flex;
    justify-content: center;
}
a.menu-element {
    display: block;
    text-decoration: none;
    font-family: "Tahoma";
    font-size: 20px;
    font-weight: bold;
    padding:30px;
    color:white;
}
    a.menu-element:hover {
        background-color: #2F4F4F;
    }
    a.menu-element:active {
        background-color: #4f8e8e;
    }