﻿
div.event-content {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
   
}
a.event-element {
    margin: 20px;
    box-shadow: rgba(0,0,0,1) 0 0 8px;
    margin: 30px 0 30px 0;
    width: 400px;
    background: linear-gradient(to right,#95a5a1,#d3d7d6);
    border-radius: 10px 10px;
    text-decoration: none;
    color: black;
}
.event-element {
    transition:0.5s all;
}
    .event-element:hover .event-element-header {
        background: linear-gradient(to right,#3c4e4a,#81a79e);
    }
    .event-element:hover .event-element-footer {
        background: linear-gradient(to right,#3c4e4a,#81a79e);
    }
    a.event-element:hover {
        box-shadow: 0 0px 30px rgba(0,0,0,2);
        background: linear-gradient(to right,#b4c1be,#e4e6e6);
    }
    a.event-element:active {
        background: white;
    }

div.event-element-header {
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(to right,#2b3835,#6d8f87);
    padding:5px 0 5px 0;
    color:white;
    font-weight:bolder;
    font-family:Tahoma;
}
div.event-element-footer {
    text-align: center;
    background: linear-gradient(to right,#2b3835,#6d8f87);
    padding: 5px 0 5px 0;
    color: white;
    font-weight: bolder;
    font-family: Tahoma;
    margin-bottom:10px;
}
.event-element-banner {
    padding: 0px 10px 0 10px;
}
.event-element-banner-image {
    
}
.event-element-description {
    word-break: break-word;
    vertical-align: top;
    font-family: Tahoma;
    margin-bottom: 10px;
    position:relative;
}

div.event-element-addiction-info {
    padding:5px;
    position: absolute;
    bottom: 0;
    border-top:1px ridge;
}