﻿div.my-tickets-content {
    display: flex;
    justify-content: space-between;
    align-content:space-around;
    margin:30px;

}
div.my-tickets-table-title{
    font-family:Tahoma;
    font-size:18px;
    text-align:center;
}
#section-name{
    padding:30px;
}

div.selected-section {
    padding:30px;
    margin-right: 50px;
    position:relative;
}

.selected-section:hover {
    background-color: #497475;
    transition: 0.2s all;
}
.selected-section:hover .menu-drop {
    opacity: 1;
    top:90px;
}

    .menu-drop {
        margin:0;
        padding:0;
        list-style:none;
        position:absolute;

        width:100%;
        right:0;
        font-size:18px;

        top:-9990px;
        transition:0.5s opacity;
        opacity:0;
    }

.selected-section li {
    display: block;
    color:white;
    text-decoration: none;
    background-color: #599092;
    padding: 10px;
    border-bottom: solid 1px #508082;
    transition: 0.3s all;
}
.selected-section li:hover{
    
    background-color:#3e8e90;
}
.selected-section li:active {
    background-color: #45a2a4;
}

/*Настройка вывода данных*/
#my-tickets-content>table{
    margin:50px auto;
    text-align:center;

    width:1100px;
    font-family:Tahoma;
    font-size:16px;

    border-collapse:collapse;
    border:1px solid rgba(212, 212, 212, 0.45);
}
#my-tickets-content th {
    border-bottom: 3px outset black;
    padding-bottom:15px;
}
#my-tickets-content tr{
    border-bottom:1px outset black;
    background:linear-gradient(to bottom, #ffffff, #ededed);
}
#my-tickets-content td {
    padding-bottom:10px;
}


/*всплывающая подсказка*/
.cancle-selling-ticket, .confirm-order {
    position: relative;
    transition: 0.3s all;
}
    .confirm-order:hover {
        color: #e1e0e0;
    } 
    
    .cancle-selling-ticket:hover {
        color: #e1e0e0;
    }
    .confirm-order:active {
        color: #37585a;
    }
.cancle-selling-ticket:active {
    color: #37585a;
}

.help-message {
    transition:1.0s opacity;
    color:black;

    position: absolute;
    border:1px solid rgba(0, 0, 0, 0.73);
    width:120px;
    top:-9999px;
    opacity:0;
    z-index:1;
    background-color:#e8faff;
}

.confirm-order:hover .help-message {
    top: 10px;
    left: -120px;
    opacity: 1;
}


.cancle-selling-ticket:hover .help-message{
    top:10px;
    left:-120px;
    opacity:1;
}
.error-message{
    font-family:Tahoma;
    font-size:20px;

    width:800px;
    margin:auto;
    padding-top:50px;
    text-align:center;
}