﻿div.profile-content {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Tahoma;
    font-size: 18px;
    width: 300px;
    background: #ecfcff;
    padding:50px;
    border:1px solid black;

    box-shadow:0 0 5px rgba(0,0,0,1);
}

.configure-profile{
    padding:20px;
    transition:0.3s all;

    position:relative;
}

    .configure-profile>i:hover {
        color: #d7d9d9;
        cursor: pointer;
    }
    .configure-profile>i:active {
        color: #c1c2c2;
       
    }

    .configure-profile > .help-message{
        position:absolute;
        background-color:#f5f5f5;
        border:1px solid rgba(0,0,0,0.5);
        opacity:0;
        top:-9999px;

        transition:0.3s opacity;
        color:black;
        font-size:12px;
        padding:10px;
    }

    .configure-profile:hover .help-message{
        opacity:1;
        top:10px;
        right:-110px;
    }
