﻿@using TicketsMarketplace.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{ 
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="~/css/Login/login-page.css" asp-append-version="true">
        <script src="~/js/jquery.validate.min.js" asp-fallback-src="~/" ></script>
        <Script src="~/js/jquery.validate.unobtrusive.min.js"></Script >
    </head>
    <body>
        <div class="authorization-form-content">
            <form asp-action="Login" asp-controller="Account" method="post" class="authorization-form">

                <div class="login">
                    <label asp-for="Login">@Localizer["LoginLabel"]:</label><br/>
                    <input asp-for="Login" class="authorization-form-login-input">
                    <span asp-validation-for="Login"></span>
                </div>

                <div class="password">
                    <label asp-for="Password">@Localizer["PasswordLabel"]:</label><br />
                    <input asp-for="Password" class="authorization-form-password-input">
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="remember-me">
                    <input asp-for="RememberMe">
                    @Localizer["RememberMe"]
                </div>
                <button type="submit">@Localizer["LoginButton"]</button>

            </form>
        </div>
    </body>
</html>