﻿@using TicketsMarketplace.Models;
@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model User
@inject CustomUserManager userManager
@section stylesheets{
    <link type="text/css" rel="stylesheet" href="~/css/UserProfile/profile-content.css" asp-append-version="true">
}
<div class="content-title">
    <div class="page-name">@Localizer["MyProfile"]</div>
    <div class="configure-profile">
        <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
        <div class="help-message">
            @Localizer["ConfigureProfile"]
        </div>
    </div>
</div>
<div class="profile-content">
    <div class="profile-content-description">
        <span>@Localizer["UserName"]: </span>
        <span>@Model.UserName</span>
    </div>
    <div class="profile-content-description">
        <span>@Localizer["Role"]:</span>
        <span>@userManager.GetRolesAsync(Model).Result[0]</span>
    </div>
    <div class="profile-content-description">
        <span>@Localizer["Localize"]:</span>
        <span>@Model.Localization.Name</span>
    </div>
</div>

