﻿@using TicketsMarketplace.Models;
@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Event>
<div class="content-title"><div class="page-name">@Localizer["EventsTitle"]</div></div>
<div class="event-content">
    @foreach(var x in Model)
    {
        
            <a href="/Home/Tickets?id=@x.Id" class="event-element">
                <div class="event-element-header">
                    @x.Name
                </div>
                <div class="event-element-body">
                    <table>
                        <tr>
                            <td class="event-element-banner">
                                <img src=@x.Banner class="event-element-banner-image">
                            </td>
                            <td class="event-element-description">
                                @x.Desctiption
                                <div class="event-element-addiction-info">
                                    <div>@Localizer["City"]: @x.Venue.City.Name</div>
                                    <div>@Localizer["Address"]: @x.Venue.Address</div>
                                </div>
                            </td>
                        </tr>
                     </table>
                </div>
                <div class="event-element-footer">
                    @x.Date
                </div>
            </a>
    }
</div>

