﻿@using TicketsMarketplace.Models
@{
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Order>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section stylesheets{
    <link type="text/css" rel="stylesheet" href="~/css/MyOrders/my-orders-content.css" asp-append-version="true">
}
<div class="content-title"><div class="page-name">@Localizer["MyOrders"]</div></div>
<div class="my-orders-content">
    <table>
        <tr>
            <th>@Localizer["Event"]</th>
            <th>@Localizer["Cost"]</th>
            <th>@Localizer["OrderState"]</th>
        </tr>
        @foreach(var x in Model)
        {
            <tr>
                <td>@x.Ticket.Event.Name</td>
                <td>@x.Ticket.Price</td>
                <td>@x.Status</td>
            </tr>
        }
    </table>
</div>