﻿@using TicketsMarketplace.Models;

@model IEnumerable<Order>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (Model.Count() != 0)
{
    <table>
        <tr>
            <th>@Localizer["Event"]</th>
            <th>@Localizer["Price"]</th>
            <th>@Localizer["Buyer"]</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Ticket.Event.Name</td>
                <td>@x.Ticket.Price</td>
                <td>@x.Buyer</td>
                <td>
                    <div class="confirm-order">
                        <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                        <div class="help-message">
                            @Localizer["ConfirmOrder"]
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cancle-selling-ticket">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                        <div class="help-message">
                            @Localizer["RejectOrder"]
                        </div>
                    </div>
                </td>

            </tr>
        }
    </table>
}
else
{
    <div class="error-message">В данный момент у вас нету билетов на продажу.</div>
}