﻿@using TicketsMarketplace.Models;

@model IEnumerable<Order>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@if (Model.Count() != 0)
{
    <table>
        <tr>
            <th>@Localizer["Event"]</th>
            <th>@Localizer["Price"]</th>
            <th>@Localizer["Buyer"]</th>
            <th>@Localizer["TrackNo"]</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Ticket.Event.Name</td>
                <td>@x.Ticket.Price</td>
                <td>@x.Buyer.UserName</td>
                <td>@x.TrackNo</td>
            </tr>
        }
    </table>
}
else
{
    <div class="error-message">@Localizer["Clear"]</div>
}