﻿@using TicketsMarketplace.Models
@{
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Order>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section stylesheets{
    <link type="text/css" rel="stylesheet" href="~/css/MyTickets/my-tickets-content.css" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/css/MyOrders/my-orders-content.css" asp-append-version="true">
    
}

<div class="content-title">
    <div class="selected-section">
        <div><i class="fa fa-list-ul" aria-hidden="true"></i> @Localizer["MyTickets"]</div>
        <ul class="menu-drop">
            <li onclick="loadSellingTickets()">@Localizer["SellingTickets"]</li>
            <li onclick="loadSoldTickets()">@Localizer["SoldTickets"]</li>
            <li onclick="loadWaitingForConfirmationTickets()">@Localizer["WaitingConfirmationTickets"]</li>
        </ul>
    </div>
    <div id="section-name"></div>
</div>
<div id="my-tickets-content">
   
</div>

<script>
    loadSellingTickets();

function loadSellingTickets() {
            $.ajax(
                {
                    type: 'GET',
                    url: 'MyTicketsSelling/',
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#section-name").empty();
                            $("#section-name").append("@Localizer["SellingTickets"]");
                            $("#my-tickets-content").empty();
                            $("#my-tickets-content").append(data);
                        }
                    }
                }
            );
        }

        function loadSoldTickets() {  $.ajax(
                {
                    type: 'GET',
                    url: 'MyTicketsSold/',
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#section-name").empty();
                            $("#section-name").append("@Localizer["SoldTickets"]");
                            $("#my-tickets-content").empty();
                            $("#my-tickets-content").append(data);
                        }
                    }
                }
            );}

        function loadWaitingForConfirmationTickets() {  $.ajax(
                {
                    type: 'GET',
                    url: 'MyTicketsWaitingConfirmation/',
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#section-name").empty();
                            $("#section-name").append("@Localizer["WaitingConfirmationTickets"]");
                            $("#my-tickets-content").empty();
                            $("#my-tickets-content").append(data);
                        }
                    }
                }
            );}
</script>