﻿@using TicketsMarketplace.Models;

@model IEnumerable<Ticket>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@if (Model.Count() != 0)
{
    <table>
        <tr>
            <th>@Localizer["Event"]</th>
            <th>@Localizer["Price"]</th>
            <th>@Localizer["Notes"]</th>
            <th></th>
        </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Event.Name</td>
            <td>@x.Price</td>
            <td>@x.Notes</td>
            <td>
                <div class="cancle-selling-ticket">
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    <div class="help-message">
                       @Localizer["RemoveTicketFromSale"]
                    </div>
                </div>
            </td>
        </tr>
    }
    </table>
}
else
{
    <div class="error-message">В данный момент у вас нету билетов на продажу.</div>
}