﻿@using TicketsMarketplace.Models;
@{
    Layout = "_Layout";
}
@model IEnumerable<Ticket>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section stylesheets{
    <link type="text/css" rel="stylesheet" href="~/css/MyOrders/my-orders-content.css" asp-append-version="true">
}
<div class="content-title"><div class="page-name">@Localizer["ListTicketsForEvent"] &laquo;@(((Event)ViewData["event"]).Name)&raquo;</div></div>
<div id="ticket-content">
    <div class="selected-event">
        <img src=@(((Event)ViewData["event"]).Banner)>
        <div class="ticket-event-info">
            <div class="ticket-event-info-describe">
                @(((Event)ViewData["event"]).Desctiption)
            </div>
            
        </div>
    </div>
    @if (Model.Count() != 0)
    {
    <table>
        <tr>
            <th>@Localizer["Seller"]</th>
            <th>@Localizer["Cost"]</th>
            <th>@Localizer["SellerNotes"]</th>
            <th></th>
        </tr>
        @foreach (var x in Model)
        {
            <tr class="my-orders-line">
                <td>@x.Seller.UserName</td>
                <td>@x.Price</td>
                <td>@x.Notes</td>
                <td>
                    <input type="submit" value="@Localizer["ToOrder"]" />
                </td>
            </tr>
        }
    </table>
    }
    else
    {
        <div>
            @Localizer["NotAvailable"]
        </div>
    }
</div>
