﻿
.authorization-form {
    margin:auto;
    width:200px;
}

.authorization-form-content {
    margin-top:30px;
    font-family: Tahoma;
    font-size: 16px;
    padding: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    width: 500px;
    margin: auto;
    background:#f2ffff;
}
div.login{
    margin:10px 0 10px 0;
}
div.password {
    margin: 10px 0 10px 0;
}
div.remember-me {
    margin: 10px 0 10px 0;
    font-size:20px;
}




.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.login > input {
    border-radius:5px;

    height: 30px;
    font-size: 20px;
}
.password>input{
    border-radius:5px;

    height:30px;
    font-size:20px;
}


.authorization-form button[type=submit]{
    font-size:20px;

    width:100px;
    border-radius:5px;
}

.remember-me>input
{
   
}