﻿div.my-orders-content {
    

}
.my-orders-content > table {
    margin: 50px auto;
    text-align: center;
    width: 1100px;
    font-family: Tahoma;
    font-size: 16px;
    border-collapse: collapse;
    border: 1px solid rgba(212, 212, 212, 0.45);
}

.my-orders-content th {
    border-bottom: 3px outset black;
    padding-bottom: 15px;
}

.my-orders-content tr {
    border-bottom: 1px outset black;
    background: linear-gradient(to bottom, #ffffff, #ededed);
}

.my-orders-content td {
    padding-bottom: 20px;
}