﻿@using Microsoft.AspNetCore.Mvc.Localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="~/css/Layout/content.css" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/css/Layout/footer.css" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/css/Layout/header.css" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/css/Layout/main.css" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/css/Layout/menu.css" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/css/Events/event-content.css" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/css/Tickets/ticket-content.css" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/css/Login/login-page.css" asp-append-version="true">
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
    @if (IsSectionDefined("stylesheets"))
    {
        RenderSection("stylesheets");
    }
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
</head>

<body>
    <div class="body-content">
        <div class="header">
            <div class="header-flex-left">
                <div class="banner">
                    BANNER
                </div>
            </div>

            <div class="header-flex-right">
                <div class="language-options">
                    <form asp-controller="Home" asp-action="SetLanguage" style="margin-top:20px;"
                          asp-route-returnUrl="@Context.Request.Path"
                          method="post" class="form-horizontal">
                        @Localizer["Language"]: <select name="culture" onchange="this.form.submit();"
                                                        asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                                        asp-items="cultureItems"></select>
                    </form>
                </div>

                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="/Account/Login" class="authenticate">@Localizer["Login"]</a>
                }
                else
                {
                    <a href="/Account/UserProfile" class="authenticate">@Localizer["UserProfile"]</a>
                    <a href="/Account/Logout" class="authenticate">@Localizer["Exit"]</a>
                }
            </div>
        </div>
        <div class="menu">
            <a href="/Home/Events" class="menu-element">@Localizer["Events"]</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Home/MyTickets" class="menu-element">@Localizer["MyTickets"]</a>
                <a href="/Home/MyOrders" class="menu-element">@Localizer["MyOrders"]</a>
            }
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <div class="footer">
            <div class="footer-info">
                &copy;natan.poroshin&#64;gmail.com
            </div>
        </div>
    </div>
</body>
</html>